
    <div class="w3-container w3-black">
      <h2><i class="fa w3-margin-right"></i>Make A PlanDuh</h2>
    </div>
    <div class="w3-container w3-white w3-padding-16">

      <form action="/itineraries" method="POST">
        <div class="w3-row-padding" style="margin:0 -16px;">
          <div class="w3-half w3-margin-bottom">
            <label><i class="fa fa-calendar-o"></i> Date</label>
            <input class="w3-input w3-border" type="date" placeholder="DD MM YYYY" name="date" required>
          </div>
          <div class="w3-half">
            <label><i class="fa fa-clock-o"></i> Start Time</label>
            <input class="w3-input w3-border" type="time" placeholder="time start" name="begin_time" required>
          </div>
        </div>
        <div class="w3-row-padding" style="margin:8px -16px;">
          <div class="w3-half w3-margin-bottom">
            <label><i class="fa fa-clock-o"></i> End Time</label>
            <input class="w3-input w3-border" type="time" ype="time" placeholder="time end" name="end_time" required>
          </div>

          <div class="w3-half">
            <label><i class="fa fa-globe"></i> Where to Begin?</label>
          <input class="w3-input w3-border" type="text" name="location" placeholder="enter an address, zip or city">
          </div>
        </div>

        <div class="w3-half">
            <label><i class="fa fa-money"></i> Budget</label>
          <input class="w3-input w3-border" type="number"  name="budget" placeholder="enter max budget ($)">
          </div>
        </div>

        <button class="w3-button w3-black" type="submit"><i class="fa fa-search w3-margin-right"></i> Go, PlanDuh!</button>
      </form>
    </div>
  </div>
</div>

<!-- test styling ends -->




