<ul style="list-style-type:none">
  <%= render partial: "activity", collection: @activities %>
</ul>

<div id="googleMap" ></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrLYL2C-ffJ7nncDl6Sb4QzM6Irt5yRXc&callback=myMap"></script>

