<h1>Planduh</h1>

<nav class="preference-nav">
  <ul>
     <dt><%= link_to "Tell us about yourself!", new_preference_path %></dt>
     <dt><%= link_to "Create A New Itinerary!", new_itinerary_path %></dt>
  </ul>
</nav>
