<header class="w3-display-container w3-content " style="max-width:1500px">
    <div class="w3-container w3-black">
      <h2><i class="fa w3-margin-right"></i>We messed up... or maybe our CDN. Yeah, it was them.</h2>
    </div>
</header>

<br />

<p>
We'll get on it.
</p>
