
<div>
  <form class="js--form" action="/survey_questions/<%= question.id %>/user_responses" method="POST">
      <input type="text"  name="answer" placeholder="Enter all restrictions here:" >
      <input type="submit" value="submit">
    </form>
</div>
