
<div class="pag-links">
  <form class="js--form w3-container w3-card-4" action="/survey_questions/<%= question.id %>/user_responses" method="POST">
      <select class="w3-select" name="answer">
        <% question.responses.each do |response| %>
        <option value="<%= response.response %>"  ><%= response.response %></option>
        <% end %>
      </select>
       <button class="w3-btn w3-black multi-button" type="submit"><i class="fa "></i> NEXT</button>
      <!-- <input type="submit" value="submit"> -->
    </form>
</div>

<% if question.id == 3 %>
<img src="http://americansocialbar.com/wp-content/uploads/2016/01/group.jpg" alt="physical" style="width:100%" class="survey-image">
<% else %>
<img src="https://virtuagym.com/blog/wp-content/uploads/2016/11/client-motivation-coach-partnership.jpg" alt="physical" style="width:100%" class="survey-image">
<% end %>
