/* medium styles */
.lyft-web-button {
  cursor: pointer;
  padding: 5px 10px;
  color: #000000; /* white */
  font-family: sans-serif;
  background-color: #FFFFFF; /* black */
  border: none;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}
.lyft-web-button:hover {
  background-color: #E6E6E6; /* reduce brightness by 10% */
}
.lyft-web-button > .lyft-logo {
  display: inline-block;
  width: 48px;
  height: 35px;
  margin-top: 4px;
  vertical-align: middle;
}
.lyft-web-button > .lyft-logo > svg {
  width: 48px; /* fix svg rendering for IE */
  height: 35px; /* fix svg rendering for IE */
}
.lyft-web-button > .cta-eta {
  display: inline-block;
  margin-left: 10px;
  text-align: left;
  vertical-align: middle;
}
.lyft-web-button > .cta-eta > .cta {
  display: block;
  font-size: 24px;
  font-weight: 300;
}
.lyft-web-button > .cta-eta > .eta {
  display: block;
  font-size: 14px;
  font-weight: 300;
}
.lyft-web-button > .arrow-icon {
  display: inline-block;
  width: 18px;
  height: 19px; /* add 1px to prevent clipping */
  margin-left: 10px;
  vertical-align: middle;
}
.lyft-web-button > .arrow-icon > svg {
  width: 18px; /* fix svg rendering for IE */
  height: 19px; /* fix svg rendering for IE */
}
.lyft-web-button > .price-range {
  display: inline-block;
  margin-left: 4px;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 300;
}

/* mulberry-dark */
.lyft-web-button.mulberry-dark {
  color: #FFFFFF; /* white */
  background-color: #352384; /* mulberry */
}
.lyft-web-button.mulberry-dark:hover {
  background-color: #2B1C6B; /* reduce brightness by 10% */
}
.lyft-web-button.mulberry-dark > .lyft-logo > svg > path {
  fill: #FFFFFF; /* white */
}
.lyft-web-button.mulberry-dark > .arrow-icon > svg > path {
  fill: #FFFFFF; /* white */
}

