body {
  background-color: #fcfcfc;
}

.customjumbotron {
    background-color: #e2faff;
}

.btn-success {
    color: #FCEBE2;
    background-color: #1fbed4;
    border-color: #1fbed4;
}

.btn-primary {
    color: #FCEBE2;
    background-color: #1fbed4;
    border-color: #1fbed4;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 0rem;
    background-color: #e8f8fb;
    border-radius: 0.3rem;
}

.nav-link .text-muted {
  color: #C97A6F;
}

.itinerary-li-partial {
    margin-right: 20px;
    margin-left: 20px;
}

.main-footer {
    margin-top: 75px;
}
.survey-image {
    margin-bottom: 5px;
}



.pag-links {
    padding: 1.5em 16px;
}

.multi-button {
    margin-top: 8px;
    margin-bottom: 8px;
}

.open-question-button {
    margin-top: 8px;
    margin-bottom: 8px;
}

.footer-question {
    margin-bottom: 70px;
}

.footer-powered-by {
    font-size: .8em;
}

#terms-agree-button {
    margin-right: 10px;
}

.terms-agree {
    display: inline-block;
    margin-right: 10px;
}

.response-address {
    margin-top: 20px;
}

.show-itinerary-button-container {
    width: 100%;
    padding: 0px;
    margin-bottom: 30px;
}

.response-buttons {
    display: inline-block;
    width: 50%;
    margin: 0px;
    padding: 0px;
    text-align: center
}
.buttons-nav-itinerary {
    width: 100%
}

.response-buttons-cell {
    width: 50%;
    margin: 0px;
    padding: 0px;
    text-align: center
}

.btn-primary {
    background-color: #000;
    border-color: #000;
}

.btn-primary:hover {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

img.panda {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 25%;
}

.error-message {
    color: red;
}

.btn-itinerary-show {
    background-color: white;
    border: 3px solid black;
    color: black;
    text-decoration: none;
    padding: 12px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
    font-size: 1.3em;
}

.btn-itinerary-show:hover {
    background-color: #e2faff;
    color: black;
    font-size: 1.4em;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.activity-name {
    margin-bottom: 20px;
}

.itineraries-list-profile {
    margin-top: 25px;
}

.itinerary-list-activity {
    list-style: none;
    border: 1px solid silver;
    width: 90%;
    padding: 15px;
    margin-top: 15px;
}

.list-itinerary-name {
    font-size: 1.4em;
}

.itinerary-list-link {
    color: silver;
}
