body {
  background-color: #F9F9F9;
}

.customjumbotron{
            background-image: url('https://i.amz.mshcdn.com/atVl90rKiSGeSLkp9cjbGZwG03A=/950x534/filters:quality(90)/2013%2F11%2F18%2F42%2F8540647831.2f72e.jpg');
}

.btn-success {
    color: #FCEBE2;
    background-color: #1fbed4;
    border-color: #1fbed4;
}

.btn-primary {
    color: #FCEBE2;
    background-color: #1fbed4;
    border-color: #1fbed4;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e8f8fb;
    border-radius: 0.3rem;
}

.nav-link .text-muted {
  color: #C97A6F;
}

